.fade{

    opacity:0;

    transform:translateY(40px);

    transition:1s;

}

.fade.show{

    opacity:1;

    transform:none;

}
/* ==========================
   FLOATING CARD
========================== */

@keyframes cardFloat{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0px);

    }

}

@keyframes purpleFloat{

    0%{

        transform:translate(0,0);

    }

    50%{

        transform:translate(20px,15px);

    }

    100%{

        transform:translate(0,0);

    }

}

@keyframes blueFloat{

    0%{

        transform:translate(0,0);

    }

    50%{

        transform:translate(-20px,-15px);

    }

    100%{

        transform:translate(0,0);

    }

}
@keyframes glassShine{

    0%{

        left:-80%;

    }

    100%{

        left:160%;

    }

}
/* ==========================
   AURORA ANIMATION
========================== */


@keyframes auroraMove1{


    0%{

        transform:translate(0,0);

    }


    50%{

        transform:translate(120px,80px);

    }


    100%{

        transform:translate(0,0);

    }

}



@keyframes auroraMove2{


    0%{

        transform:translate(0,0);

    }


    50%{

        transform:translate(-100px,-70px);

    }


    100%{

        transform:translate(0,0);

    }

}
@keyframes loading{

    from{

        width:0;

    }

    to{

        width:100%;

    }

}